@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@400;600;800&display=swap");
* {
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: 'Mukta', sans-serif;
  font-weight: 400;
  color: #060606; }

.header {
  display: flex;
  justify-content: space-between;
  background: #f3f3f3; }
  .header .logo {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .header .logo__img {
      padding: 0.5rem; }
    .header .logo__brand {
      padding: 0.5rem;
      text-transform: uppercase;
      font-size: 1.2rem; }
  .header .nav {
    display: none; }
    .header .nav__btn {
      padding: 0.5rem; }

.hero {
  display: flex;
  flex-direction: column; }
  .hero__text {
    margin: 2.5rem 0 0 2rem; }
    .hero__text-subtitle {
      margin-bottom: 1.5rem; }
  .hero__title {
    font-size: 2.8rem;
    line-height: 1.5; }
    .hero__title-word {
      color: #791727; }
  .hero__btns {
    margin-bottom: 2rem;
    display: flex;
    font-size: 1.2rem; }
    .hero__btns-1 {
      text-decoration: none;
      color: #060606;
      background-color: #2fcaff;
      color: #f3f3f3;
      width: 25vw;
      text-align: center;
      border-radius: 0.5rem; }
      .hero__btns-1:active, .hero__btns-1:hover {
        color: #2fcaff;
        background-color: #fff; }
    .hero__btns-2 {
      width: 25vw;
      text-align: center;
      border-radius: 0.5rem;
      margin-left: 1.5rem;
      text-decoration: none;
      color: #791727; }
      .hero__btns-2:active, .hero__btns-2:hover {
        color: #fff;
        background-color: #791727; }
  .hero__img img {
    width: 100vw;
    height: 50vh; }

.start {
  padding: 1rem;
  background: linear-gradient(to right, #7ad1f3, #791727);
  display: flex;
  flex-direction: column;
  align-items: center; }
  .start__text {
    text-align: center;
    margin-bottom: 2rem; }
  .start__title {
    color: #f3f3f3;
    text-transform: uppercase;
    font-size: 1.8rem; }
  .start__description {
    color: #060606;
    font-size: 1.5rem; }
  .start__description span {
    color: #f3f3f3; }
  .start__btn {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    border: solid #fff 1px;
    padding: 0.4rem;
    border-radius: 0.8rem;
    width: 90vw;
    text-align: center; }

.academy {
  background: linear-gradient(#96e5ff, #fff); }
  .academy__title {
    text-align: center;
    padding: 2rem 0;
    background-color: #f3f3f3; }
    .academy__title h2 {
      color: #791727;
      font-size: 1.8rem; }
    .academy__title h3 {
      margin: 0 auto;
      border-bottom: #791727 1px solid;
      width: 35%;
      font-size: 1.5rem; }
  .academy__courses {
    display: flex;
    flex-direction: column; }
  .academy__course {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem; }
    .academy__course-img {
      padding: 1.5rem;
      width: 50vw;
      height: 30vh;
      border-radius: 50%; }
    .academy__course-title {
      color: #791727;
      font-size: 1.5rem; }
    .academy__course-subtitle {
      font-size: 1.4rem;
      font-weight: 600; }
    .academy__course-description {
      padding: 2rem 1rem 1rem;
      text-align: center;
      font-size: 1.2rem; }
    .academy__course-btn {
      text-decoration: none;
      font-size: 1.2rem;
      color: #791727;
      border-bottom: #791727 solid 1px; }

.portfolio__title {
  text-align: center;
  padding: 2rem 0;
  background-color: #fff; }
  .portfolio__title h2 {
    color: #791727;
    font-size: 1.8rem; }
  .portfolio__title h3 {
    margin: 0 auto;
    border-bottom: #791727 1px solid;
    width: 35%;
    font-size: 1.5rem; }
.portfolio__project {
  background: linear-gradient(to bottom, #96e5ff, #fff);
  display: flex;
  flex-direction: column;
  align-items: center; }
  .portfolio__project-img img {
    width: 100%;
    height: 45vh; }
  .portfolio__project-text {
    padding-left: 1.5rem; }
  .portfolio__project-title h3 {
    color: #791727;
    font-size: 1.5rem; }
  .portfolio__project-title h4 {
    font-size: 1.3rem;
    font-weight: 600;
    padding-bottom: 1rem; }
  .portfolio__project-description {
    padding-right: 2rem;
    font-size: 1.2rem;
    line-height: 1; }
  .portfolio__project-btn {
    margin: 1.5rem 0;
    text-decoration: none;
    color: #791727;
    font-size: 1.3rem;
    border: solid #791727 1px;
    padding: 0.4rem;
    border-radius: 0.8rem;
    width: 90vw;
    text-align: center;
    text-transform: uppercase; }
    .portfolio__project-btn:active, .portfolio__project-btn:hover {
      background-color: #791727;
      color: #fff; }

/*# sourceMappingURL=main.css.map */
